{
  "printWidth": 80,
  "singleQuote": false,
  "semicolons": true,
  "importOrder": [
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@interfaces/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
