@keyframes linkHover {
  0% {
    transform: scaleX(1) translateY(calc(-50%));
  }
  50% {
    transform: scaleX(50%) translateY(calc(-50%));
  }
  100% {
    transform: scaleX(1) translateY(calc(-50%));
  }
}

a {
  position: relative;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: $color-primary;
  transition: all 100ms ease-in-out;

  &:hover {
    &::before {
      animation: linkHover 1000ms infinite;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    height: 2px;
    width: 100%;
    background-color: $color-primary;
    top: calc(50% + 0.65em);
    transform: translateY(calc(-50%));
  }
}
