select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  color: $color-text-inverted;
  border: none;
  background: transparent;

  &::-ms-expand {
    display: none;
  }
}
