$color-primary: #f2aa4c;
$color-white: #ffffff;
$color-black: #1a1a1a;

// Background
$color-background: #fafaff;
$color-background-inverted: #101820;

// Text
$color-text: $color-black;
$color-text-inverted: $color-white;

// Grey
$color-light-grey: #e5e5e5;
$color-grey-3: #626b75;
$color-grey-2: #919aa5;
