$heading-font-family: "Raleway", sans-serif;
$text-font-family: "Open Sans", sans-serif;
$font-sizes: (
  "xlarge": 30px,
  "large": 26px,
  "medium": 24px,
  "base": 20px,
  "small": 16px,
  "xsmall": 14px,
);
